.liquidity-container {
    width: 650px;
    // background: radial-gradient(var(--bgDefault), var(--bgPrimary));
    background: linear-gradient(142deg, var(--bgDefault), var(--bgPrimary));
    border: 1px solid var(--borderDefault);
    box-shadow: 0 0 70px 1px #e5e3f541;

    border-radius: 16px;
    > div {
        padding: 1.25rem 1rem;
    }
}

.transaction-speed {
    display: flex;
    font-size: 0.85rem;
    > div {
        padding: 0.3rem;
        border: 1px solid var(--borderPrimary);
        border-radius: 4px;
        margin: 0 0.5rem;
        color: var(--faceSecondary);
        text-align: center;
        span {
            padding: 0 0.5rem;
        }
        &:hover {
            background: var(--objDefault);
            color: var(--faceDeep);
            border: 1px solid var(--borderDefault);
            cursor: pointer;
        }
    }
    .active {
        background: var(--objDefault);
        color: var(--faceDeep);
        border: 1px solid var(--borderDefault);
    }
}

.transaction-settings {
    padding: 0.1rem 0.3rem;
    border: 1px solid var(--borderPrimary);
    border-radius: 4px;
    // margin: 0 0.5rem;
    // color: var(--faceSecondary);
    color: var(--faceSecondary);
    cursor: pointer;
}
