.liquidity-container {
    width: 650px;
    background: var(--bgDefault);
    border: 1px solid var(--borderPrimary);
    > div {
        padding: 1.5rem 1rem;
    }
}

.transaction-speed {
    display: flex;
    font-size: 0.85rem;
    > div {
        padding: 0.3rem;
        // border: 1px solid var(--borderPrimary);
        background: var(--objDefault);
        border-radius: 4px;
        margin: 0 0.5rem;
        color: var(--faceSecondary);
        text-align: center;
        span {
            padding: 0 0.5rem;
        }
        &:hover {
            // background: var(--objDefault);
            color: var(--faceDeep);
            // border: 1px solid var(--borderDefault);
            cursor: pointer;
        }
    }
    .active {
        background: var(--objSecondary);
        color: var(--faceDeep);
        // border: 1px solid var(--borderDefault);
    }
}

.transaction-settings {
    padding: 0.3rem;
    // border: 1px solid var(--borderPrimary);
    border-radius: 4px;
    // margin: 0 0.5rem;
    // color: var(--faceSecondary);
    color: var(--faceSecondary);
    cursor: pointer;
}
