// Override default variables before the import
$body-bg: #000;

// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

.app {
    padding: 2em;
}

.page-title {
    text-align: center;
}

.lp-input-card, .lp-stats-card {
    width: 100%;
}

.top-row-card {
    height: 120px;
}

.row + .row {
    margin-top: 2em;
}

.lp-stats-widget {
    width: 100%;
}

.lp-stats-table {
    font-size: .8rem;
}

.table .lp-stats-table-cell {
    padding-left: 0;
    padding-right: 0;
}

.lp-stats-table-cell.value {
    text-align: right;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.loading-container {
    opacity: 0.7;
    background-color: #ffffff;
    position: fixed;
    text-align: center;
}

