.positions {
    .uniswap-v3-positions {
        table {
            tbody tr:hover {
                background: var(--objDefault);
                cursor: pointer;
            }
            tr {
                > :nth-last-child(1),
                :nth-last-child(2) {
                    text-align: right;
                }

                th {
                    padding: 0.5rem;
                    font-size: 0.85rem;
                    color: var(--facePrimary);
                    font-weight: normal;
                    &:hover {
                        background: none;
                    }
                }
                td {
                    padding: 0.5rem;
                    color: var(--faceDeep);
                }
            }
        }
    }
}

.range {
    font-size: 0.85rem;
    border-radius: 4px;
    padding: 0.25rem 0.5rem;
    display: inline;
    &.in-range {
        background: var(--objPrimary);
        svg {
            color: var(--facePositive);
            height: 8px;
            margin-right: 2px;
        }
    }
    &.out-range {
        background: var(--objDisabled);
        svg {
            color: var(--faceNegative);
            height: 8px;
            margin-right: 2px;
        }
    }
}

.MuiSlider-root.MuiSlider-colorPrimary {
    color: var(--objPrimary);
}

button.remove-position {
    background: var(--objAccent);
    padding: 1rem;
    border: 1px solid var(--objAccentAlt);
    border-radius: 4px;
    cursor: pointer;
    color: var(--faceDefault);
    width: 50%;
    &:hover {
        background: var(--objAccentAlt);
    }
}

button.cancel-remove {
    padding: 1rem;
    background: var(--objDeep);
    border: 1px solid var(--borderDefault);
    border-radius: 4px;
    cursor: pointer;
    color: var(--faceDefault);
    width: 50%;
    &:hover {
      background: var(--objDefault);
    }
}