// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
    font-family: "Lucida Grande", Helvetica, Arial, sans-serif;
}

.app {
    padding: 2em;
}

.page-title {
    text-align: center;
    margin-top: 1em;
    margin-bottom: 1em;
}

.lp-input-card, .lp-stats-card {
    // width: 100%;
}

.card.no-border {
    // height: 120px;
    border: 0;
}

.chart-card {
    height: 563px;
    padding: 0;
}

.lp-stats-widget {
    margin-top: 1em;
    width: 100%;
}

.lp-stats-table {
    font-size: .8rem;
}

.trades-sidebar {
    height: 603px;
}

.trades-sidebar-content {
    height: 554px;
    overflow: scroll;
}


.table .lp-stats-table-cell {
    padding-left: 0;
    padding-right: 0;
}

.lp-stats-table-cell.value {
    text-align: right;
}

.my-auto {
    margin-top: auto;
    margin-bottom: auto;
}

.loading-container {
    opacity: 0.7;
    background-color: #ffffff;
    position: fixed;
    text-align: center;
}

.stats-card-title {
    font-size: 0.9rem;
}

.stats-card-body {
    font-size: 1.2rem;
}

.pair-selector {
    width: 12em;
}