// Import Bootstrap and its default variables
// @import '~bootstrap/scss/bootstrap.scss';
@import './themes.scss';
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:wght@100;400;600&family=Source+Sans+Pro&display=swap');

html {
    font-size: 16px;
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    background: #141229;
}
a,
a:hover,
a:visited {
    text-decoration: none;
}

p {
    margin: 0;
    padding: 0;
}

.accent-link a {
    color: var(--faceAccentAlt);
    text-decoration: underline;
    &:hover {
        color: var(--faceAccentAlt);
    }
}

.heading-main {
    font-family: 'Barlow Condensed';
    color: var(--faceAccentAlt);
    margin-bottom: 1.5rem;
}

.header-with-filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem 0;
}

.warning-well {
    border: 1px solid var(--borderSecondary);
    background: var(--bgDeep);
    padding: 10px;
    font-size: 0.8rem;
    color: var(--faceDisabled);
}

.info-well {
    padding: 10px;
    font-size: 0.8rem;
    color: var(--faceDisabled);
}

.wine-bounce {
    font-size: 5rem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce-rotate;
    animation-timing-function: ease;
}

.wine-pulse {
    font-size: 5rem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: pulse_animation;
    animation-timing-function: ease;
}

.wine-spill {
    animation-duration: 1s;
    transform-origin: bottom;
    animation-name: rotate-spill;
    animation-fill-mode: forwards;
    animation-timing-function: linear;
    margin-bottom: 1em;
}

@keyframes bounce-rotate {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-100px) rotate(-15deg);
    }
    100% {
        transform: translateY(0);
    }
}

@keyframes rotate-spill {
    0% {
        transform: rotate(0);
    }
    75% {
        transform: rotate(90deg);
    }
    90% {
        transform: rotate(88deg);
    }
    100% {
        transform: rotate(90deg);
    }
}

@keyframes pulse_animation {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.1);
    }
    100% {
        transform: scale(1);
    }
}

.wine-spin {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.app {
    display: flex;
    background: var(--bgMain);
    color: var(--facePrimary);
}

.app-body {
    width: calc(100% - 250px);
    padding: 2em;
}

.page-title {
    text-align: center;
    margin-top: 1em;
}

.centered {
    text-align: center;
}

.telegram-cta {
    font-size: 0.85em;
    padding: 0 0.5rem;
    text-align: center;
    a {
        color: var(--faceAccentAlt);
        &:hover{
            text-decoration: underline;
        }
    }
}

.social-cta {
    text-align: right;
}

.pair-search-container {
    height: 20em;
}

.card.no-border {
    // height: 120px;
    border: 0;
}
.il-market-container table thead th {
    border-bottom: 1px solid var(--borderDeep);
    background: var(--bgDeep);
    font-weight: normal;
}
.market-data-table-header th {
    border-top: 0;
    border-bottom: 1px solid var(--borderSecondary);
    color: var(--facePrimary);
}
.market-data-table-row {
    color: var(--faceSecondary);
}
.market-data-table-row td {
    border: none;
    border-bottom: 1px solid var(--borderDeep);
}
.market-data-table-row:hover {
    cursor: pointer;
    background: var(--bgDeep);
    color: var(--faceAccentAlt);
}

.market-data-pair-span a {
    font-weight: 500;
    color: var(--faceSecondary);
}

.pair-search {
    margin-bottom: 1em;
    font-size: 1.1em;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.pair-selector {
    width: calc(100% - 42px);
    font-size: 0.8em;
}

.token-logo .input-group-text {
    background-color: var(--bgMain);
    border: 1px solid var(--bgDeep);
    border-right: none;
}

.logo-span span {
    width: 1rem;
    display: flex;
    align-items: center;
    height: 1rem;
}
.rw-btn {
    color: var(--faceSecondary);
}
.rw-input,
.rw-widget-input,
.rw-state-focus,
.rw-state-focus:hover,
.rw-input:active,
.rw-input:hover,
.rw-input:focus {
    color: var(--facePrimary);
    background-color: var(--bgDeep);
    border: 1px solid var(--borderDeep);
    box-shadow: none;
}
.rw-state-focus .rw-widget-container,
.rw-state-focus.rw-widget-container:hover {
    border: 1px solid var(--borderAccentAlt);
    background: var(--bgDeep);
    box-shadow: none;
}
.rw-calendar-grid,
.rw-calendar-grid:focus {
    color: var(--faceSecondary);
    background: var(--bgMain);
    border: 1px solid var(--borderMain);
    .rw-head-cell {
        border-bottom: 1px solid var(--borderSecondary);
    }
    .rw-cell:hover {
        background-color: var(--bgDeep);
        color: var(--faceAccentAlt);
        border: 0;
    }
}
.rw-btn-primary,
.rw-btn-primary:hover {
    background-color: var(--bgDeep);
    color: var(--faceSecondary);
}
.rw-popup {
    border: none;
    background: var(--bgDeep);
    ul li {
        color: var(--faceSecondary);
        padding: 0.5rem;
        border: none;
    }
    ul li:hover {
        background: var(--bgSecondary);
        color: var(--faceAccentAlt);
        border: none;
    }
    .rw-state-focus,
    .rw-state:hover {
        color: var(--faceSecondary);
        background: var(--bgSecondary);
        border: none;
    }
    .rw-list-option.rw-state-focus {
        background: var(--bgSecondary);
        color: var(--faceSecondary);
    }
}
.form-control {
    background-color: var(--bgDeep);
    color: var(--faceSecondary);
    border: 1px solid var(--borderMain);
    border-radius: 0;
    &:active {
        background-color: var(--bgDeep);
    }
    &:focus {
        background-color: var(--bgDeep);
        outline: none;
        box-shadow: none;
        color: var(--facePrimary);
        border: 1px solid var(--borderAccentAlt);
    }
}
// .input-group {
//     &:focus {
//         background-color: var(--bgDeep);
//         outline: none;
//         box-shadow: none;
//         color: var(--faceSecondary);
//     }
// }

.rw-widget-container {
    background: var(--bgMain);
    border-radius: 0;
    border: 1px solid var(--borderDeep);
}
.rw-select-bordered,
.rw-select-bordered:hover,
.rw-select-bordered:active {
    border: 0;
    background-color: var(--bgDeep);
    box-shadow: none;
}
.top-stats-row {
    margin-bottom: 1em;
}

.chart-card {
    height: 563px;
    padding: 0;
}

.lp-input-card {
    margin-bottom: 2em;
}

.lp-stats-widget {
    margin-top: 1em;
    width: 100%;
}

.stats-widget-subtitle {
    font-size: 0.8em;
    margin-top: -1em;
}

.lp-stats-table {
    font-size: 0.8rem;
}

.trades-sidebar {
    height: 603px;
}

.trades-sidebar-content {
    padding: 0;
    height: 554px;
    overflow: scroll;
}

.sidebar-item {
    font-size: 0.8rem;
}
.table {
    color: var(--faceSecondary);
}
.table .lp-stats-table-cell {
    padding-left: 0;
    padding-right: 0;
}

.lp-stats-table-cell.value {
    text-align: right;
}

.loading-container {
    width: 10%;
    margin-top: 10em;
    align-self: center;
    // opacity: 0.7;
    // background-color: #ffffff;
}

.error-container {
    height: 40em;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.8;
}

.error-container .error-message {
    font-size: 0.8em;
    font-weight: 700;
}

// pair container styles
.pair-controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}
.pair-and-pool-stats {
    display: flex;
    justify-content: flex-start;
    border: 1px solid var(--borderMain);
    background: var(--bgContainer);
    padding: 1rem;
    > div:first-child {
        margin-right: 1rem;
    }
    margin-bottom: 1rem;
}

.pair-volume-liquidity-stats {
    // border: 1px solid var(--borderMain);
    // background: var(--bgContainer);
    // padding: 0.25rem 0.5rem;
    font-size: 1rem;
    color: var(--facePrimary);
    table {
        tr {
            td {
                // border-bottom: 1px dashed var(--borderMain);
                padding: 0.25rem 0.5rem 0 0.25rem;
                text-align: right;
                &:nth-child(2) {
                    color: var(--faceAccentAlt);
                }
            }
            td:first-child {
                text-align: left;
            }
        }
    }
    > div {
        text-align: right;
    }
    button {
        border: 1px solid var(--borderSecondary);
        background: none;
        color: var(--faceSecondary);
    }
}

.lp-input-with-stats {
    display: flex;
    font-size: 0.8rem;
    justify-content: flex-end;
    align-items: flex-start;
    border: 1px solid var(--borderMain);
    background: var(--bgContainer);
    padding: 1rem;
    input {
        font-size: 0.75rem;
    }
    > div:first-child {
        margin-right: 1rem;
    }
}
.lp-input-group {
    min-width: 250px;
}
// end pair container styles
.chart-base-styles {
    border: 1px solid var(--borderDeep);
    color: var(--faceSecondary);
}
.card {
    // background: var(--bgContainer);
    // border: 1px solid var(--borderMain);
    // color: var(--facePrimary);
    // min-width: 16rem;
    border-radius: 0;
    border: 1px solid var(--borderMain);
    box-shadow: 0 0 5px 1px var(--bgDeep);
    background: var(--bgContainer);
    // display: flex;
    // justify-content: space-between;
    // font-family: 'Barlow Condensed';
    .card-body {
        padding: 1rem 1.5rem;
        color: var(--faceSecondary);
    }
}

.stats-card-title {
    font-size: 0.9rem;
    font-weight: 700;
    display: flex;
    justify-content: space-between;
}

.stats-card-body {
    font-size: 1.1rem;
}

.stats-card-body:last-child {
    margin-bottom: 1.5em;
}

.pair-selector-container {
    display: flex;
    min-width: 200px;
    max-width: 200px;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height: 150px;
    font-size: 1.25rem;
    // border: 1px solid var(--borderMain);
    // background: var(--bgContainer);
    svg {
        color: var(--faceAccentAlt);
    }
}

.pair-selector-col {
    padding: 0;
}

.pair-selector-middle-col {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.pair-selector-separator {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 0.25em;
}

.window-button-card {
    display: flex;
    justify-content: space-evenly;
}

.window-button-card .card-body {
    text-align: right;
}

.pool-stats-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, 250px);
    grid-gap: 2rem;
}

.stats-card {
    flex-grow: 1;
    height: 8em;
    min-width: 122px;
    border: 1px solid red;
}

.stats-card.gray {
    background: rgb(247, 247, 251);
}

.stats-card-title .badge {
    height: 17px;
}

.stats-card.window-button-card {
    min-width: initial;
}

.window-button-card {
    width: 6em;
}

.card-footnote {
    position: relative;
    top: 1.3em;
    font-size: 0.9rem;
}

.window-button {
    width: 5em;
    margin-bottom: 0.5em;
    font-size: 0.6em;
    text-align: center;
}

.card-footnote {
    position: relative;
    top: -1.3em;
    font-size: 0.9rem;
    margin-bottom: 0;
}

.pct-change-up {
    color: var(--faceMoon);
}

.pct-change-down {
    color: var(--faceDump);
}

.sidebar-buttons {
    display: flex;
    justify-content: space-around;
}

.connect-wallet-modal-title {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-size: 1.2rem;
}

.connect-wallet-modal-options-container {
    display: flex;
    justify-content: space-evenly;
}

.connect-wallet-modal-option {
    margin: 0.5em;
    height: 4em;
}

.connect-wallet-modal .error-container {
    opacity: 0.7;
}

.connect-wallet-button {
    color: var(--faceDeep);
    width: 100%;
    font-size: 0.8rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    font-weight: 600;
    background: var(--bgAccent);
    border: 1px solid var(--borderAccent);
    border-radius: 0;
    padding: 0.5rem 1.25rem;
    border-radius: 2px;
    width: 'fit-content';
    &:hover,
    :active,
    :focus,
    :visited {
        background-color: var(--btnActionHover);
        border: 1px solid var(--borderAccent);
        outline: none;
        box-shadow: none;
    }
}

.manage-liquidity-modal-header {
    padding: 0;
}

.align-right {
    width: 100%;
    text-align: right;
}

.manage-liquidity-modal-header .btn-group {
    width: 100%;
}

.manage-liquidity-modal-header .btn-group .add-btn {
    border-bottom-left-radius: 0;
}

.manage-liquidity-modal-header .btn-group .remove-btn {
    border-bottom-right-radius: 0;
}

.connect-wallet-modal-option svg {
    width: 10em;
}

.positions-table-pair-span {
    color: #007bff;
}

.pair-text-large {
    display: flex;
    align-items: center;
    font-size: 2em;
    padding-left: 2em;
}

.il-market-container {
    height: 45em;
    background: var(--bgContainer);
    overflow: scroll;
    border: 1px solid var(--borderDeep);
}

.slippage-tolerance-input {
    text-align: right;
}

.annualized-apy-card-text {
    font-size: 1.2rem;
    margin-bottom: 0.3rem;
}

.current-lp-tokens {
    opacity: 0.7;
    font-size: 0.75em;
}

.transaction-speed-input {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.rw-popup-container.rw-calendar-popup {
    left: initial;
}

th .order-4:before {
    margin-left: 3.5px;
    content: '\2191';
    opacity: 0.4;
}

th .order-4:after {
    content: '\2193';
    opacity: 0.4;
}

th .caret-4-asc:before {
    margin-left: 3.5px;
    content: '\2191';
}

th .caret-4-asc:after {
    content: '\2193';
    opacity: 0.4;
}

th .caret-4-desc:before {
    margin-left: 3.5px;
    content: '\2191';
    opacity: 0.4;
}

th .caret-4-desc:after {
    content: '\2193';
}

@media (max-width: 1500px) {
    .lp-stats-card {
        margin-top: 0;
    }
}
@media (max-width: 1200px) {
    .pair-controls {
        flex-direction: column;
    }
    .pair-and-pool-stats,
    .lp-input-with-stats {
        justify-content: space-between;
    }
}
@media (max-width: 765px) {
    .pair-controls {
        align-items: center;
    }
    .pair-and-pool-stats,
    .lp-input-with-stats {
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
}
@media (max-width: 500px) {
    .app-body {
        width: 100%;
        margin-top: 3em;
    }
    .pool-stats-container {
        grid-template-columns: 1fr;
    }
}
