// Import Bootstrap and its default variables
@import '~bootstrap/scss/bootstrap.scss';

body {
    font-family: 'Lucida Grande', Helvetica, Arial, sans-serif;
}

.wine-bounce {
    font-size: 5rem;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
    animation-name: bounce-rotate;
    animation-timing-function: ease;
}

@keyframes bounce-rotate {
    0% {
        transform: translateY(0) rotate(0);
    }
    50% {
        transform: translateY(-100px) rotate(-15deg);
    }
    100% {
        transform: translateY(0);
    }
}

.wine-spin {
    animation-name: spin;
    animation-duration: 500ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}

.fade-update-enter {
    opacity: 0.01;
}

.fade-update-enter.fade-update-enter-active {
    opacity: 1;
    transition: opacity 500ms ease-in;
}

.fade-update-leave {
    opacity: 1;
}

.fade-update-leave.fade-update-leave-active {
    opacity: 0.01;
    transition: opacity 300ms ease-in;
}

.fade-update-appear {
    opacity: 0.01;
}

.fade-update-appear.fade-update-appear-active {
    opacity: 1;
    transition: opacity 0.5s ease-in;
}

.app-body {
    padding: 1em;
}

.page-title {
    text-align: center;
    margin-top: 1em;
}

.centered {
    text-align: center;
}

.social-cta {
    text-align: right;
}

.lp-stats-card {
    margin-top: 4em;
}

.card.no-border {
    // height: 120px;
    border: 0;
}

.pair-selector {
    width: calc(100% - 42px);
}
.token-logo .input-group-text {
    background-color: #ffffff;
    border-right: none;
}

.logo-span span {
    width: 1rem;
    display: flex;
    align-items: center;
    height: 1rem;
}

.card.pair-selector-card {
    background-color: rgba(0, 0, 0, 0.03);
}

.top-stats-row {
    margin-bottom: 1em;
}

.chart-card {
    height: 563px;
    padding: 0;
}

.lp-stats-widget {
    margin-top: 1em;
    width: 100%;
}

.lp-stats-table {
    font-size: 0.8rem;
}

.trades-sidebar {
    height: 603px;
}

.trades-sidebar-content {
    padding: 0;
    height: 554px;
    overflow: scroll;
}

.sidebar-item {
    font-size: 0.8rem;
}

.table .lp-stats-table-cell {
    padding-left: 0;
    padding-right: 0;
}

.lp-stats-table-cell.value {
    text-align: right;
}

.loading-container {
    margin-top: 10em;
    position: fixed;
    width: 10%;
    left: 45%;
    // opacity: 0.7;
    background-color: #ffffff;
    text-align: center;
}

.stats-card-title {
    font-size: 0.9rem;
    font-weight: 700;
}

.stats-card-body {
    font-size: 1.1rem;
}

.pair-selector-container {
    display: flex;
}

.pair-selector-col {
    padding: 0;
}

.pair-selector-middle-col {
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.pair-selector-separator {
    display: flex;
    align-items: center;
    margin: 0 0.25em;
}

.window-button-card {
    display: flex;
    justify-content: space-evenly;
}

.pool-stats-container {
    display: flex;
    flex-wrap: wrap;
}

.stats-card {
    flex-grow: 1;
}

.window-button-card {
    width: 6em;
}

.window-button {
    flex: 1;
    width: 5em;
    text-align: center;
}

.card-footnote {
    position: relative;
    top: 1.3em;
    font-size: 0.9rem;
}

.pct-change-up {
    color: #3e832a;
}

.pct-change-down {
    color: #d54152;
}

.sidebar-buttons {
    display: flex;
    justify-content: space-around;
}

.connect-wallet-modal-header {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;    
}

.connect-wallet-button {
    width: 10em;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.side-menu {
    background-color: #eeeeee;
    padding: 1em;
}

.side-menu-title {
    font-weight: 700;
}

.app {
    display: flex;
}

.side-menu {
    min-height: 100vh;
    height: 100%;
}

.side-menu-list {
    list-style-type: none;
}

.disabled-link {
    color: gray;
    cursor: initial;
}

.disabled-link:hover {
    color: gray;
    cursor: initial;
    text-decoration: none;
}

.il-market-container {
    height: 45em;
    overflow: scroll;
}

th .order-4:before {
    margin-left: 3.5px;
    content: '\2191';
    opacity: 0.4;
}

th .order-4:after {
    content: '\2193';
    opacity: 0.4;
}

th .caret-4-asc:before {
    margin-left: 3.5px;
    content: '\2191';
}

th .caret-4-asc:after {
    content: '\2193';
    opacity: 0.4;
}

th .caret-4-desc:before {
    margin-left: 3.5px;
    content: '\2191';
    opacity: 0.4;
}

th .caret-4-desc:after {
    content: '\2193';
}
