/* Position and sizing of burger button */
.bm-burger-button {
    position: fixed;
    width: 36px;
    height: 30px;
    left: 36px;
    top: 36px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
    background: var(--faceSecondary);
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
    background: var(--facePrimary);
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
    height: 24px;
    width: 24px;
}

/* Color/shape of close button cross */
.bm-cross {
    background: var(--faceSecondary);
}

/*
Sidebar wrapper styles
Note: Beware of modifying this element as it can break the animations - you should not need to touch it in most cases
*/
.bm-menu-wrap {
    position: fixed;
    height: 100%;
    background: var(--bgMain);
    border-right: 1px solid var(--borderDeep);
}

/* General sidebar styles */
.bm-menu {
    padding: 2.5em 0;
    font-size: 1.15em;
    display: flex;
}
.bm-item-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
    fill: #373a47;
}

.bm-item .side-menu-link:hover {
    text-decoration: none;
}

.bm-item .side-menu-link.side-menu-active a {
        color: var(--faceAccent);
        font-weight: 800;
}


/* Individual item */

.bm-item {
    display: flex;
    padding: 0.5em 1.5em;
    margin: 0;
    outline: none;
}

.bm-item svg {
    margin-right: 1rem;
}
.bm-item .side-menu-link {
  padding: 1rem 0;
}
.bm-item .side-menu-link a {
    font-weight: 500;
    font-size: 1.2rem;
    color: var(--faceSecondary);
    margin-top: 20px;
    & svg{
      font-size: 1rem;
      color: var(--faceAccentAlt);
    } 
}

.bm-item .side-menu-link a:hover {
    text-decoration: none;
    color: var(--faceAccent);
    font-weight: 600;
}

/* Styling of overlay */
.bm-overlay {
    background: rgba(0, 0, 0, 0.3);
}

.disabled-link {
    opacity: 0.3;
    cursor: initial;
}

.disabled-link:hover {
    color: var(--faceDisabled);
    cursor: initial;
    text-decoration: none;
}

.side-menu-title {
    font-weight: 700;
    font-family: 'Barlow Condensed';
    text-align: center;
}
