:root {
    --purple100: #050211;
    --purple90: #0e0c1c;
    --purple80: #141229;
    --purple75: #191731;
    --purple70: #1e1c40;
    --purple60: #31286c;
    --purple50: #423394;
    --purple40: #684fe3;
    --purple30: #9583ec;
    --purple20: #d0caf7;
    --purple10: #f0edfc;

    --jam100: #a01853;
    --jam90: #ad1a5c;
    --jam80: #bf1d66;
    --jam70: #d5206e;
    --jam60: #e42678;
    --jam50: #ff488e;
    --jam40: #fc69a1;
    --jam30: #fc78ab;
    --jam20: #fc83b1;
    --jam10: #fc8db7;

    --bubble100: #002328;
    --bubble90: #01343C;
    --bubble80: #025664;
    --bubble70: #028AA2;
    --bubble60: #02b0ce;
    --bubble50: #03cdf0;
    --bubble40: #3fd8f3;
    --bubble30: #79e4f6;
    --bubble20: #b2effa;
    --bubble10: #ecfbfe;

    --mono100: #131316;
    --mono90: #2e2e38;
    --mono80: #3b3b47;
    --mono70: #565668;
    --mono60: #7f7d97;
    --mono50: #9a97b7;
    --mono40: #a9a6c9;
    --mono30: #cfcde4;
    --mono20: #e2e0f2;
    --mono10: #f4f3ff;

    --yellow100: #704b0aff;
    --yellow90: #94630dff;
    --yellow80: #b07510ff;
    --yellow70: #c48012ff;
    --yellow60: #ce8612ff;
    --yellow50: #e28f12ff;
    --yellow40: #f0a637ff;
    --yellow30: #f2ad4bff;
    --yellow2: #f5c27aff;
    --yellow10: #faddb4ff;

    --green100: #002918;
    --green90: #01643d;
    --green80: #03581b;
    --green70: #03be74;
    --green60: #02d784;
    --green50: #04ff87;
    --green40: #56cf7c;
    --green30: #64ff8f;
    --green20: #8cfccf;
    --green10: #cbf6e5;

    --red100: #70150a;
    --red90: #951b0e;
    --red80: #b12110;
    --red70: #c42112;
    --red60: #d72414;
    --red50: #ee3325;
    --red40: #ef4538;
    --red30: #f1544b;
    --red20: #f5807a;
    --red10: #f9b6b3;
}
