:root {
    --purple100: #05001f;
    --purple90: #0b0044;
    --purple80: #18086b;
    --purple70: #2e1b91;
    --purple60: #4934b1;
    --purple50: #6652c9;
    --purple40: #8372db;
    --purple30: #a192e8;
    --purple20: #bdb2f0;
    --purple10: #d7d2f5;

    --jam100: #1f000c;
    --jam90: #44001a;
    --jam80: #6b082e;
    --jam70: #911b48;
    --jam60: #b13464;
    --jam50: #c95280;
    --jam40: #db729a;
    --jam30: #e892b3;
    --jam20: #f0b2ca;
    --jam10: #f5d2df;

    --bubble100: #001a1f;
    --bubble90: #003944;
    --bubble80: #085c6b;
    --bubble70: #1b7f91;
    --bubble60: #349eb1;
    --bubble50: #52b7c9;
    --bubble40: #72cbdb;
    --bubble30: #92dbe8;
    --bubble20: #b2e7f0;
    --bubble10: #d2f0f5;

    --mono100: #1b1a1f;
    --mono90: #3b3a44;
    --mono80: #5f5d6b;
    --mono70: #817f91;
    --mono60: #9f9db1;
    --mono50: #b6b4c9;
    --mono40: #c8c6db;
    --mono30: #d5d3e8;
    --mono20: #dfddf0;
    --mono10: #e5e3f5;

    --yellow100: #1f1200;
    --yellow90: #442900;
    --yellow80: #6b4308;
    --yellow70: #91611b;
    --yellow60: #b17f34;
    --yellow50: #c99a52;
    --yellow40: #dbb172;
    --yellow30: #e8c592;
    --yellow20: #f0d7b2;
    --yellow10: #f5e7d2;

    --green100: #001f10;
    --green90: #004423;
    --green80: #086b3b;
    --green70: #1b9158;
    --green60: #34b175;
    --green50: #52c990;
    --green40: #72dba8;
    --green30: #92e8be;
    --green20: #b2f0d2;
    --green10: #d2f5e4;

    --red100: #1f0200;
    --red90: #440500;
    --red80: #6b0700;
    --red70: #911209;
    --red60: #b1271e;
    --red50: #c94137;
    --red40: #db5c52;
    --red30: #e8776f;
    --red20: #f0938c;
    --red10: #f5aea8;
}
