:root {
  --blue100: #141128;
  --blue80: #1a1833;
  --blue60: #211f3e;
  --blue10: #6a53e0;

  --magenta40: #FA5E9A;
  --magenta60: #D3387C;

  --white20: #f4f3ff;
  --white40: #f4f3ff;
  --white60: #b5b2d6;

}