@import './colors.scss';

.dark {
    //backgrounds
    --bgDeep: var(--purple100);
    --bgDefault: var(--purple90);
    --bgPrimary: var(--purple80);
    --bgSecondary: var(--purple70);

    --objDeep: var(--purple90);
    --objDeepAlt: var(--purple80);
    --objDefault: var(--purple80);
    --objDefaultAlt: var(--purple70);
    --objPrimary: var(--purple70);
    --objPrimaryAlt: var(--purple60);
    --objSecondary: var(--purple60);
    --objSecondaryAlt: var(--purple50);
    --objPositive: var(--green70);
    --objPositiveAlt: var(--green60);
    --objNegative: var(--red70);
    --objNegativeAlt: var(--red60);
    --objAccent: var(--jam60);
    --objAccentAlt: var(--bubble60);
    --objWarn: var(--yellow60);
    --objWarnAlt: var(--yellow50);
    --objDisabled: var(--mono90);
    --objDisabledAlt: var(--mono80);

    // --borderDeep: var(--purple100);
    --borderDefault: var(--purple80);
    --borderPrimary: var(--purple70);
    --borderSecondary: var(--purple40);
    --borderAccent: var(--jam40);
    --borderAccentAlt: var(--bubble40);

    //fonts & svgs
    --faceDeep: var(--mono10);
    --faceDefault: var(--mono30);
    --facePrimary: var(--mono40);
    --faceSecondary: var(--mono70);
    --faceDisabled: var(--mono80);
    --faceAccent: var(--jam50);
    --faceAccentAlt: var(--bubble50);
    --facePositive: var(--green30);
    --facePositiveAlt: var(--green40);
    --faceNegative: var(--red30);
    --faceNegativeAlt: var(--red40);

    // --bgDeep: var(--purple100);
    // --bgMain: var(--purple80);
    // --bgPrimary: var(--purple75);
    // --bgSecondary: var(--purple70);
    // --bgContainer: var(--purple90);
    // --bgOffset: var(--purple60);
    // --bgMoon: var(--green60);
    // --bgDump: var(--red70);
    // --bgAccent: var(--jam70);
    // --bgAccentAlt: var(--bubble50);

    // --borderDeep: var(--purple100);
    // --borderMain: var(--purple60);
    // --borderSecondary: var(--purple80);
    // --borderOffset: var(--bubble10);
    // --borderAccent: var(--jam40);
    // --borderAccentAlt: var(--bubble40);

    // //fonts & svgs
    // --faceDeep: var(--mono10);
    // --facePrimary: var(--mono20);
    // --faceSecondary: var(--mono40);
    // --faceOffset: var(--mono80);
    // --faceDisabled: var(--mono60);
    // --faceAccent: var(--jam50);
    // --faceAccentAlt: var(--bubble50);
    // --faceMoon: var(--green30);
    // --faceMoonSubtle: var(--green40);
    // --faceDump: var(--red50);

    // semantic colors / UI objects
    // info
    // --bgInfo: var();
    // --bgInfoDeep: var();
    // --bgInfoOffset: var();
    // --borderInfo: var();
    // --borderInfoDeep: var();
    // --borderInfoOffset: var();
    // --btnInfo: var();
    // --btnInfoBorder: var();
    // --btnInfoActive: var();
    // --btnInfoHover: var();

    // // action
    // --bgAction: var(--jam50);
    // --btnAction: var(--faceDeep);
    // --btnActionHover: var(--jam50);

    // // info
    // --bgInfo: var(--purple50);
    // --bgInfoBorder: var(--purple60);
    // --btnInfo: var(--purple50);
    // --btnInfoHover: var(--purple40);
    // --btnInfoBorder: var(--purple40);

    // // warn
    // --bgWarn: var(--yellow90);
    // --bgWarnBorder: var(--yellow100);

    // // moon
    // --btnMoon: var(--green80);
    // --btnMoonHover: var(--green70);
    // --btnMoonBorder: var(--green70);

    // // dump
    // --bgDump: var(--red90);
    // --bgDumpBorder: var(--red100);
    // --btnDump: var(--red80);
    // --btnDumpHover: var(--red70);
    // --btnDumpBorder: var(--red70); // fixeMe
}

.light {
    //backgrounds
    --bgDeep: var(--purple20);
    --bgMain: var(--purple10);
    --bgSecondary: var(--purple10);
    --bgOffset: var(--blue80);
    --bgMoon: var(--green60);
    --bgDump: var(--red70);
    --bgAccent: var(--jam60);

    --borderMain: var(--purple30);
    --borderSecondary: var(--purple20);
    --borderOffset: var(--blue10);
    --borderAccent: var(--jam50);
    --borderAccentAlt: var(--bubble50);

    //fonts
    --facePrimary: var(--mono100);
    --faceSecondary: var(--mono90);
    --faceOffset: var(--purple70);
    --faceDisabled: var(--mono60);
    --faceAccent: var(--jam50);
    --faceAccentAlt: var(--bubble50);
    --faceMoon: var(--green50);
    --faceDump: var(--red40);
}
/*
background: rgb(253,182,54);
background: -moz-linear-gradient(124deg, rgba(253,182,54,1) 0%, rgba(245,0,196,1) 100%);
background: -webkit-linear-gradient(124deg, rgba(253,182,54,1) 0%, rgba(245,0,196,1) 100%);
background: linear-gradient(124deg, rgba(253,182,54,1) 0%, rgba(245,0,196,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#fdb636",endColorstr="#f500c4",GradientType=1);
*/