.MuiAutocomplete-popper {
    color: var(--faceSecondary);
    font-family: 'Source Sans Pro';
    .MuiAutocomplete-paper {
        background: var(--bgContainer);
        color: var(--faceSecondary);
        .MuiAutocomplete-listbox {
            .MuiAutocomplete-option {
                padding: 1rem 0.85rem;
                font-weight: 600;
                &[data-focus='true'] {
                    color: var(--faceDeep);
                    background: var(--bgInfo);
                }
            }
        }
        .MuiAutocomplete-noOptions {
            color: var(--faceSecondary);
        }
    }
}
.MuiAutocomplete-endAdornment {
    color: var(--faceSecondary);
    svg {
        fill: var(--faceAccentAlt);
    }
    .MuiAutocomplete-clearIndicator {
      svg {
        fill: var(--faceSecondary);
      }
    }
}

// .MuiInput-underline:before {
//     border: 0;
// }

#all-pairs {
    padding: 1rem;
    text-transform: uppercase;
}

.pair-option-with-logo {
    display: flex;
    align-items: center;
    img {
        height: 2rem;
    }
    .no-image:after {
        content: '🍇';
        font-size: 1.5rem;
    }
    .pair {
      border: 1px solid var(--borderMain);
      padding: 0.5rem 1rem;
      background: var(--bgSecondary);
      border-radius: 20px;
      display: flex;
      align-items: center;
      line-height: 2rem;
      font-size: 1rem;
    }
}
