.MuiAutocomplete-popper {
    color: var(--faceSecondary);
    font-family: 'Source Code Pro';
    .MuiAutocomplete-paper {
        background: var(--bgDeep);
        color: var(--faceSecondary);
        border: 1px solid var(--borderDefault);
        .MuiAutocomplete-listbox {
            .MuiAutocomplete-option {
                // padding: 0.85rem;
                font-weight: 600;
                // border-bottom: 1px solid var(--borderDefault);
                &[data-focus='true'] {
                    color: var(--faceDeep);
                    // border-left: 5px solid var(--borderAccentAlt);
                    // border-right: 5px solid var(--borderAccentAlt);
                    background: var(--bgPrimary);
                    // border-bottom: 1px solid var(--borderPrimary);
                }
            }
        }
        .MuiAutocomplete-noOptions {
            color: var(--faceSecondary);
        }
    }
}

// .MuiAutocomplete-root {
//     .Mui-focused {
//         // border: 1px solid var(--borderAccentAlt);
//         // border-radius: 2px;
//     }
// }

.MuiAutocomplete-endAdornment {
    color: var(--faceSecondary);
    svg {
        fill: var(--faceAccentAlt);
    }
    .MuiAutocomplete-clearIndicator {
        svg {
            fill: var(--faceSecondary);
        }
    }
}

// .MuiInput-underline:before {
//     border: 0;
// }

#all-pairs {
    padding: 1rem;
    color: var(--faceDeep);
}

.pair-option-with-logo {
    display: flex;
    align-items: center;
    img {
        height: 2rem;
        height: 2rem;
        border-radius: 1rem;
        margin-left: -5px;
    }
    .no-image:after {
        content: '🍇';
        font-size: 1.5rem;
    }
    .pair {
        // border: 1px solid var(--borderDefault);
        color: var(--facePrimary);
        min-width: 200px;
        padding: 0.5rem 0.5rem;
        // background: var(--objDefault);
        border-radius: 4px;
        display: flex;
        justify-content: flex-start;
        white-space: nowrap;
        align-items: center;
        overflow: hidden;
        font-size: 1rem;
    }
    .fee-tier {
        background: var(--objSecondary);
        color: var(--facePrimary);
        padding: 0.25rem 0.5rem;
        border-radius: 4px;
        font-size: 0.85rem;
    }
}
