.add-v3-container {
    // width: 600px;
    position: relative;
    // background: var(--bgDefault);
    padding: 0;
    display: flex;
    flex-direction: column;
    p {
        margin-bottom: 1rem;
    }
    // justify-content: space-between;
    // font-family: 'Barlow Condensed';
    // }

    // .dropdown {
    //     outline: none;
    //     .btn-primary {
    //         background: var(--bgSecondary);
    //         border: 1px solid var(--bgDeep);
    //         &:focus {
    //             outline: none;
    //             box-shadow: none;
    //             border: 1px solid var(--borderAccentAlt);
    //         }
    //     }
    // }
    // .dropdown-menu {
    //     // border: 1px solid red;
    //     border-radius: 0;
    //     background: var(--bgSecondary);
    //     .dropdown-item {
    //         color: var(--faceSecondary);
    //         &.active,
    //         &:hover {
    //             color: var(--facePrimary);
    //             background: var(--bgAccent);
    //         }
    //     }
    // }

    .token-and-wallet {
        padding: 1rem;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .balances-container {
        // border: 1px solid var(--borderMain);
        font-size: 0.8rem;
        color: var(--faceDeep);
        display: flex;
        flex-direction: column;
        position: relative;
        right: 0;
    }

    .wallet-fees {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: stretch;
    }
    .preview {
        background: var(--bgDeep);
        font-size: 0.85rem;
        padding: 1rem;
        border-radius: 4px;
        color: var(--faceSecondary);
        .face-deep {
            color: var(--faceDeep);
        }
        .face-positive {
            color: var(--facePositive);
        }
    }
    .btn-addl {
        padding: 0.5rem 1rem;
        font-size: 1;
        font-family: 'Source Code Pro';
        color: var(--faceDeep);
        width: 100%;
        // font-weight: 600;
        border: 1px solid var(--objPositiveAlt);
        border-radius: 4px;
        background: var(--objPositive);
        &:hover,
        :active,
        :focus {
            background: var(--objPositiveAlt);
        }
        &:focus {
            outline: none;
            box-shadow: 0;
        }
    }

    .btn-negative {
        background: var(--bgDefault);
        border: 1px solid var(--borderAccent);
        &:hover,
        :active,
        :focus {
            background: var(--bgDefault);
        }
    }

    .no-hover {
        &:hover,
        :active,
        :focus {
            background: var(--objPositive);
        }
    }

    .btn-warn {
        background: var(--objWarn);
        &:hover,
        :active,
        :focus {
            background: var(--objWarn);
        }
    }

    .well-warn {
        border: 1px solid var(--objWarn);
        border-radius: 4px;
        padding: 1rem;
        background: var(--objWarn);
        color: var(--faceDeep);
    }

    .sentiment {
        > div {
            padding: 0.25rem 0.5rem;
            color: var(--faceSecondary);
            border: 1px solid var(--borderPrimary);
            background: var(--objDeep);
            border-radius: 4px;
            cursor: pointer;
        }
        .active {
            background: var(--objDefault);
            border: 1px solid var(--borderDefault);
            color: var(--faceDeep);
        }
    }

    .token-select {
        button {
            background: var(--bgDefault);
        }
        .active {
            background: var(--objDefault);
        }
        .disabled {
            color: var(--faceDisabled);
            &:hover {
                background: var(--bgDefault);
            }
        }
    }

    .token-control-container {
        // border: 1px solid var(--borderSecondary);
        padding: 0.75rem 0.75rem;
        background: var(--bgDefault);
        border-radius: 4px;
        padding-bottom: 0;
        > div {
            margin-bottom: 0.75rem;
        }
        button.btn-default {
            padding: 1rem 1.25rem;
            outline: none;
            box-shadow: none;
            border: 0;
            border-radius: 4px;
            background: var(--bgDeep);
            color: var(--faceDisabled);
        }
        button.active {
            background: var(--bgDeep);
            color: var(--objPositiveAlt);
        }
    }
    .token-input-control {
        border: 1px solid var(--borderDefault);
    }
    .token-input-control.active {
        border: 1px solid var(--objPositiveAlt);
        border-radius: 4px;
        background: var(--bgDeep);
    }
    .token-input-control.inactive {
        border: 1px solid var(--borderDefault);
        border-radius: 4px;
        background: var(--bgDeep);
    }
    .token-input-control.disable {
        border: 1px solid var(--objDisabledAlt);
        border-radius: 4px;
        background: var(--objDisabled);
    }

    .token-with-logo {
        display: inline-flex;
        align-items: center;
        color: var(--faceDeep);
        padding: 0.2rem 0.5rem;
        border-radius: 4px;
        border: 1px solid var(--borderDefault);
        // background: var(--objDefault);
        margin-left: 1rem;
        &:hover {
            cursor: pointer;
            // border: 1px solid var(--borderPrimary);
        }
        img {
            height: 2rem;
        }
        .no-image:after {
            content: '🍇';
            font-size: 1.5rem;
        }
    }

    .token-input {
        background: var(--bgDeep);
        padding: 0.8rem 1rem;
        border-radius: 4px;
        button,
        input {
            background: var(--bgDeep);
            box-shadow: none;
            border: 0;
            color: var(--faceDeep);
            &:hover,
            &:focus,
            &:active,
            &:focus-visible {
                border: 0;
                box-shadow: none;
                outline: none;
            }
        }
        input {
            width: 150px;
        }
        button {
            background: var(--objDefault);
            padding: 0.3rem 1rem;
            border-radius: 4px;
        }
    }

    .token-with-balance {
        // border: 1px solid var(--borderDefault);
        padding: 0rem 1rem;
        // border-radius: 4px;
        .token-logo {
            display: inline-flex;
            align-items: center;
            color: var(--faceDeep);
            padding: 0.2rem 0.5rem;
            border-radius: 4px;
            font-size: 1.25rem;
            // border: 1px solid var(--borderDefault);
            // background: var(--objDefault);
            // &:hover {
            //     cursor: pointer;
            //     background: var(--objDefault);
            // }
            img {
                height: 3rem;
            }
            .no-image:after {
                content: '🍇';
                font-size: 2rem;
            }
        }
        .disable {
            color: var(--faceDisabled);
        }
        .balance {
            font-size: 0.8rem;
            // border: 1px solid red;
            .balance-string {
                max-width: 90px;
                text-overflow: ellipsis;
                overflow: hidden;
                white-space: nowrap;
            }
        }
    }
}

.sentiment-button {
    flex-grow: 1;
    text-align: center;
}

.sentiment-button + .sentiment-button {
    margin-left: 1em;
}

.well-warn.out-of-range {
    font-size: 0.8em;
}

.token-input.disabled {
    opacity: 0.5;
}
